{% extends 'blog/base.html' %}
{% block content %}
     <a href="{% url 'post-create' %}">create new post</a>
    {% for post in posts %}
        <article class="media content-section">

            <img style="border-radius: 50%; width: 50px; height: 50px" src="{{ post.author.profile.image.url }}"
                 alt="{{ user.name }}"/>

            <div class="media-body">
                <a href="{% url 'user_posts'  post.author.username  %}" class="mr2">
                    {{ post.author }}
                </a>
                <small class="text-muted">
                    {{ post.date_posted|date:"F d, Y" }}
                </small>
                <h2><a href="{% url 'post-detail' post.id %}" class="article-title"> {{ post.title }} </a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        <div>
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </div>

    {% endif %}

{% endblock content %}